/* 
Colors:
#F67280
#C06C84
#6C5B7B
#355C7D
*/

/* Global */

hr {
    height: 0px;
    width: 80%;
    margin: 0 0 0 30px;
}

/* Reuse */
.section-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    text-align: center;
    font-size: calc(16px + 2vw);
}

.section-subtitle {
    font-weight: 500;
    font-size: calc(12px + 1vw);
    margin: 60px 0 30px;
}

.fa-icon {
    color: var(--color-fa-icon);
}

.fa-icon-highlight {
    color: var(--color-fa-icon-highlight);
}

.hide {
    display: none;
}

@media (max-width: 768px) {
    .section-subtitle {
        font-size: calc(9px + 1vw);
    }
}

/* Color theme */
.dark-mode {
    --color-bg: #000000;
    --color-text: #f0f0f0;

    --color-card: rgb(40, 40, 40);
    --color-card-fg: rgb(61, 61, 61);

    --color-project-skill-tag-outline: rgb(35, 35, 35);
    --color-button-hover: rgb(61, 61, 61);
    
    --color-fa-icon: rgb(48, 114, 228);
    --color-fa-icon-highlight: rgb(215, 119, 45);

    --color-grad-start: #28416f;
    --color-grad-end: #1b3563;

    --color-modal: rgb(40, 40, 40);
    --color-modal-card: rgb(61, 61, 61);

    --color-gh-red: #ff7b72;
    --color-gh-blue: #a5d6ff;
    --color-gh-purple: #d2a8ff;
    --color-gh-orange: #ffa657;
    --color-gh-darkblue: #79c0ff;
    --color-gh-default: var(--color-text);
    --color-gh-nav: rgb(26, 26, 26);

    color: var(--color-text);
    background-color: var(--color-bg);
    transition: color 1s ease, background-color 1s ease;
}

.light-mode {
    --color-bg: #f0f0f0;
    --color-text: black;

    --color-card: rgb(211, 211, 211);
    --color-card-fg: rgb(159, 159, 159);

    --color-project-skill-tag-outline: rgb(178, 178, 178);
    --color-button-hover: rgb(187, 186, 186);

    --color-fa-icon: rgb(67, 125, 225);
    --color-fa-icon-highlight: rgb(228, 123, 42);

    --color-grad-start: #9bafd5;
    --color-grad-end: #7d9edc;
    
    --color-modal: rgb(211, 211, 211);
    --color-modal-card: rgb(186, 186, 186);
    
    --color-gh-red: #cf222e;
    --color-gh-blue: #0a3069;
    --color-gh-purple: #8250df;
    --color-gh-orange: #953800;
    --color-gh-darkblue: #0550ae;
    --color-gh-nav: rgb(190, 190, 190);
}

/* NavBar */

/* .navbar */

.main-nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--color-card);
    transition: background-color 1s ease;
}

.nav-logo {
    font-weight: 700;
    font-size: calc(13px + 0.5vw);
}

.nav-logo .link {
    cursor: pointer;
}

.nav-options {
    display: flex;
    align-items: center;
}

.dark-light-mode-toggle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    background-color: var(--color-card-fg);
    border-radius: 100px;
    height: 25px;
    width: 25px;
    scale: 120%;
    cursor: pointer;
    transition: scale 0.5s ease, background-color 1s ease, color 1s ease;

    &:hover {
        scale: 140%;
    }
}

.nav-links .link {
    font-size: calc(13px + 0.3vw);
    font-weight: 500;
    margin-left: calc(20px + 1vw);
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.nav-links:has(:hover) .link:not(:hover) {
    opacity: 0.2;
}

.hamburger-btn {
    display: none;
    cursor: pointer;
}

.hamburger-line {
    width: 25px;
    height: 3px;
    background-color: var(--color-text);
    margin: 5px;
    border-radius: 2px;
}

.dropdown-nav {
    display: none;
}

.dropdown-animation {
    transform: translateY(calc(-1 * var(--dropdown-nav-height)));
    transition: transform 0.5s;
}

.dropdown-animation-active {
    transform: translateY(0);
}

@media (max-width: 768px) {
    .navbar {
        --main-nav-height: 20px;
    }

    .main-nav {
        height: var(--main-nav-height);
    }

    .nav-links {
        display: none;
    }

    .hamburger-btn {
        display: block;
        margin-left: 20px;
    }

    .dropdown-nav {
        --dropdown-nav-height: 170px;
        height: var(--dropdown-nav-height);
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--color-card);
        opacity: 0.9;
    }

    .dropdown-nav .link {
        font-size: calc(13px + 0.3vw);
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
        transition: opacity 0.5s ease;
    }

    .dropdown-nav:has(:hover) .link:not(:hover) {
        opacity: 0.2;
    }
}

/* Buffer */
.buffer {
    height: 50px;
}

/* Intro */

.intro {
    --intro-content-left-width: 40%;
    --intro-content-right-width: 60%;
    padding: 10% 0;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.intro-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    width: 70%;
}

.intro-content-left {
    height: 450px;
    width: var(--intro-content-left-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f0f0f0;
}

.intro-content-text {
    transform: translateX(-80%);
    opacity: 1;
    filter: blur(5px);
    transition: transform 1s ease, opacity 0.5s ease, filter 0.5s ease;
}

.intro-title {
    font-size: 96px;
    font-weight: 700;
    margin: 0;
}

.intro-subtitle {
    font-size: 46px;
    font-weight: 300;
    margin: 0;
}

.intro-link {
    font-weight: 300;
    border: solid 1.5px #f0f0f0;
    border-radius: 10px;
    width: fit-content;
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
    transform: translateY(100px);
    opacity: 0;
    filter: blur(5px);
    transition: transform 1s ease, opacity 0.5s ease, filter 1s ease, background-color 0.5s ease;

    &:hover {
        background-color: rgb(61, 61, 61);
    }
}

.intro-content-right {
    display: flex;
    justify-content: flex-end;
    width: var(--intro-content-right-width);
    transform: translateX(20%);
    opacity: 0;
    filter: blur(5px);
    transition: transform 1s ease, opacity 0.5s ease, filter 1s ease, scale 0.5s ease;

    &:hover {
        scale: 110%;
    }
}

.intro-animation {
    transform: translateX(0);
    transform: translateY(0);
    opacity: 1;
    filter: blur(0px);
}

@media (max-width: 1525px) {
    .intro-title {
        font-size: 85px;
    }
    .intro-subtitle {
        font-size: 36px;
    }
}

@media (max-width: 1190px) {
    .intro {
        height: 800px;
    }
    .intro-content {
        flex-direction: column;
    }
    .intro-content-left, .intro-content-right {
        width: 100%;
    }
    .intro-content-left {
        height: 400px;
    }
    .intro-title {
        font-size: calc(50px + 4vw);
    }
    .intro-subtitle {
        font-size: calc(18px + 2vw);
        width: 70%;
    }
    .intro-link {
        font-size: calc(12px + 0.5vw);
    }
}

/* About */
.about {
    padding: 0 10%;
}

.about-cards {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: calc(20px + 2vw) 0;
}

.about-card {
    width: 80%;
    background-color: var(--color-card);
    border-radius: 10px;
    padding: 5px clamp(3%, 20px, 5%);
    margin: 20px 3vw;
    transition: background-color 1s ease;
}

.about-card h2 {
    font-weight: 400;
    font-size: calc(10px + 0.7vw);
    line-height: calc(10px + 2vw);
}

/* Skills */
.skills {
    padding: 0 10%;
}

/* .skill-categories */

.skill-category h2 {
    margin: calc(30px + 1.5vw) 5%;
}

.skill-cards {
    display: flex;
    justify-content: space-around;
    padding: 0 5%;
}

.skill-card {
    --length: calc(20px + 15vw);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    width: var(--length);
    height: var(--length);
    background-color: var(--color-card);
    transition: background-color 1s ease;

    &:nth-child(2) {
        transition-delay: 200ms;
    }

    &:nth-child(3) {
        transition-delay: 400ms;
    }
}

.skill-card-img {
    --length: calc(10vw);
    height: var(--length);
    width: var(--length);
    border-radius: 10px;
}

.skill-name {
    font-size: calc(5px + 1vw);
    margin: 7px 0 0;
}

@media (max-width: 768px) {
    .skill-card {
        --length: calc(20px + 15vw);
    }

    .skill-card-img {
        --length: calc(10vw)
    }

    .skill-name {
        font-size: calc(4px + 1vw);
    }
}

/* Slide in animation */

.slide-in {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    /* overrides .skill-card because transitions are on same level */
    transition: opacity 1s, transform 1s, scale 0.5s, filter 1s, background-color 1s ease;
}

.slide-in-active {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* Focus on animation */
.skill-card:hover {
    scale: 110%;
}

.skill-cards:has(:hover) .skill-card:not(:hover) {
    opacity: 0.5;
    scale: 90%;
    filter: blur(3px);
}

/* Projects */

.projects {
    padding: 0 10%;
}

.project-cards {
    --card-length: calc(40px + 15vw);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.project-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 10px;
    margin: 20px;
    height: var(--card-length);
    width: calc(var(--card-length) * 2);
    perspective: 1000px;
    scale: 90%;
}

.project-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s, scale 0.5s ease;
    transform-style: preserve-3d;

    &:hover {
        scale: 105%;
    }
}

.project-card-front {
    --length: calc(12.5vw);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: var(--color-card);
    transition: background-color 1s ease;
}

.project-img-box {
    height: var(--length);
    width: var(--length);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--color-card-fg);
    transition: background-color 1s ease;
}

.project-img {
    height: 12.5vw;
    scale: 80%;
}

.project-title-box {
    height: var(--length);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
}

.project-title {
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    font-size: calc(5px + 1.5vw);
    margin: 0;
}

.project-flip-icon-box {
    width: 100%;
    height: 30%;
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.project-flip-icon {
    border: solid 2px var(--color-button-hover);
    border-radius: 7px;
    font-size: calc(2px + 1.5vw);
    padding: calc(2px + 0.5vw);
    cursor: pointer;
    transition: background-color 0.5s ease, border 1s ease;

    &:hover {
        background-color: var(--color-button-hover);
    }
}

.project-card-back {
    transform: rotateY(180deg);
}

.project-card-back-inner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--color-card);
    transition: background-color 1s ease;
}

.project-subtitle {
    font-size: calc(3px + 1vw);
    text-align: justify;
    margin: 0 70px;
}

.project-card-back-filler {
    height: 10%;
}

.project-buttons {
    display: flex;
    font-size: calc(10px + 1.2vw);
    width: 40%;
    height: 18%;
    justify-content: space-between;
}

.project-link {
    color: var(--color-text);
    transition: color 1s ease;
}

.project-buttons i {
    transition: background-color 0.5s ease, border 1s ease;
}

.project-link {
    text-decoration: none;
}

.project-modal, .project-link, .project-flip-icon-back-box {
    border: solid 2px var(--color-button-hover);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    scale: 90%;
    aspect-ratio: 1/1;
    cursor: pointer;
    transition: background-color 0.5s ease;
    
    &:hover {
        background-color: var(--color-button-hover);
    }
}

/* Flip animation */
.project-flip-card-animation {
    transform: rotateY(180deg);
}

.project-card-front,
.project-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

@media (max-width: 1065px) {
    .project-cards {
        --card-length: calc(55px + 15vw);
        grid-template-columns: 1fr;
    }

    .project-card-front {
        --length: calc(15vw);
    }

    .project-img {
        scale: 90%;
    }

    .project-title {
        font-size: calc(6px + 1.5vw);
    }

    .project-subtitle {
        font-size: calc(5px + 1vw);
        margin: 0 12%;
    }

    .project-flip-icon {
        font-size: calc(4px + 1.5vw);
    }
}

/* Fade in animation */
.fade-in {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 2s ease, transform 1s ease;
}

.fade-in-active {
    opacity: 1;
    transform: translateY(0);
}

/* Contact */
.contact {
    padding: 0 10% 5vw;
}

.contact-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 10%;
}

.contact-link-box {
    --contact-link-box-height: calc(50px + 2.5vw);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: var(--contact-link-box-height);
    height: var(--contact-link-box-height);
    background-color: var(--color-card);
    transition: opacity 0.5s ease, scale 0.5s ease, background-color 1s ease;
    scale: 90%;
}

.contact-fa-icons {
    font-size: var(--contact-link-box-height);
    scale: 60%;
}

.copyright {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
    font-size: calc(8px + 1vw);
}

.contact-link-box:hover {
    scale: 100%;
}

.contact-links:has(:hover) .contact-link-box:not(:hover) {
    opacity: 0.4;
    scale: 80%;
}

@media (max-width: 768px) {
    .contact-links {
        padding: 70px calc(30px + 4vw);
    }

    .contact-link-box {
        scale: 90%;
    }

    .fa-icons {
        scale: 50%;
    }
}

/* Backdrop */
.backdrop {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000aa;
}

/* Modal */
.modal {
    width: clamp(50%, 700px, 90%);
    height: 70vh;
    border-radius: 12px;
    background-color: var(--color-modal);
    overflow-y: auto;
}

.modal-nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: calc(2.5px + 1.5vh) 3.5%;
    background-color: var(--color-modal-card);
    z-index: 1;
}

.modal-title {
    margin: 0;
    font-size: calc(15px + 0.5vw);
    display: flex;
    align-items: center;
}

.modal-close-btn {
    font-size: 30px;
    cursor: pointer;
    transition: scale 0.5s ease;

    &:hover {
        scale: 120%;
    }
}

.modal-content {
    padding: 1% 4%;
}

/* ProjectsModalContent */
.modal-heading {
    font-size: calc(14px + 0.5vw);
}

.modal-subheading {
    font-size: calc(10px + 0.5vw);
}

.modal-project-skill-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.modal-project-skill-tag {
    border: 2px solid var(--color-project-skill-tag-outline);
    border-radius: 100px;
    margin: 5px 0.5vw;
    padding: 10px 20px;
    color: var(--color-text);
    background: linear-gradient(112.1deg, var(--color-grad-start) 11.4%, var(--color-grad-end) 70.2%);
    transition: opacity 0.5s ease, scale 0.5s ease, filter 1s ease;

    &:hover {
        user-select: none;
        scale: 120%;
    }
}

.modal-project-skill-tags:has(:hover) .modal-project-skill-tag:not(:hover) {
    opacity: 0.5;
    scale: 90%;
    filter: blur(2px);
}

.modal-project-skill {
    margin: 0;
}

.modal-comments-card {
    background-color: var(--color-modal-card);
    border-radius: 10px;
    padding: 5px clamp(3%, 20px, 5%);
    margin: 20px 0;
    transition: background-color 1s ease;
}

.modal-features-card {
    background-color: var(--color-modal-card);
    border-radius: 10px;
    padding: 5px clamp(3%, 20px, 5%) 15px;
    margin: 20px 0;
    transition: background-color 1s ease;
}

.modal-features-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-features-image {
    margin: 10px 0;
    border-radius: 10px;
}

/* IDE */

.ide {
    --ide-border-radius: 10px;
    height: fit-content;
    width: 90%;
    background-color: var(--color-card);
    border-radius: var(--ide-border-radius);
    transition: background-color 1s ease;
    overflow-x: scroll;
}

.ide-tabs {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color-gh-nav);
    border-radius: var(--ide-border-radius) var(--ide-border-radius) 0 0;
    padding: 7px 7px 0;
    display: flex;
    transition: background-color 1s ease;
}

.ide-tab {
    width: fit-content;
    padding: 7px 12px;
    border-radius: var(--ide-border-radius) var(--ide-border-radius) 0 0;
    background-color: var(--color-card);
    transition: background-color 1s ease;
}

.ide-tab-file {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-weight: 350;
    margin-left: 7px;
}

.ide-body {
    padding: 10px;
    width: fit-content;
}

.ide-line {
    display: flex;
    margin: 5px;
    font-size: 16px;
    width: fit-content;
}

.ide-line-number {
    width: 20px;
    margin: 0 7px 0 0 ;
}

.ide-line-text-box {
    display: flex;
}

.ide-line-text {
    margin: 0;
}

@media(max-width: 1190px) {
    .ide {
        width: 100%;
    }
}